*{
    margin:0;
    padding:0;
}
.header{
    text-align: center;
    font-size: 400%;
    font-family:fantasy;
    color:tomato;
}

.black-background{
    background-color: black;
}

.body{
    margin: auto 10px;
    width: auto;
    height: 875px;
}

.centerImages{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height:400px;
}

.centerInputs{
    text-align: center;
    color: white;
}

.meme-input[type="text"] {
    display: block;
    margin : 0 auto;
}

.centerSaveButton{
    margin: 0;
  position: absolute;
  top: 115%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:5%;
}

.centerSaveButton:hover{
    cursor: pointer;
    background-color: sandybrown;
}

.centerRefreshButton{
    margin: 0;
  position: absolute;
  top: 120%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:5%;
}

.centerRefreshButton:hover{
    cursor: pointer;
    background-color: seagreen;
}


.restored-container{
    margin: auto 10px;
    width: auto;
    height: 875px;
    /* background-color: black; */
}

.restoredCenterImage{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height:400px;
} 

.restoredEditInputs{
    color:white;
    text-align: center;
}

.res-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.res-SaveButton{
    margin: 0;
    position: absolute;
    top: 250%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:5%;
}

.res-SaveButton:hover{
    cursor: pointer;
    background-color: cornflowerblue;
}

.res-DeleteButton{
    margin: 0;
    position: absolute;
    top: 285;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:5%;
}

.res-DeleteButton:hover{
    cursor: pointer;
    background-color: crimson;
}


.body-2{
    background-color: black;
}




















